nav {
    color: #474540;
    background-color: #ffed00;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .brand-logo {
    color: #474540;
    font-size: 1.8rem;
}

nav ul a {
    color: #474540;
}

nav .button-collapse i {
    height: 56px;
    line-height: 56px;
    color: #474540;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}